.ContentsPlaceholder_container__3TeEK{height:100%;width:100%;height:200px;display:flex;flex-direction:column;justify-content:space-between}.ContentsPlaceholder_barTitle__3tsr8{width:50%;height:24px;margin-bottom:1rem}.ContentsPlaceholder_bar1__1ckdw{width:60%;height:12px}.ContentsPlaceholder_bar2__19Cip{width:70%;height:12px}.ContentsPlaceholder_bar3__1txqF{width:80%;height:12px}.ContentsPlaceholder_animate__3tTxt{animation:ContentsPlaceholder_moveBgPosition__2OQby 1s linear infinite;background:#ddd;background-image:linear-gradient(to left, #ddd 0%, #f5f5f5 20%, #efefef 40%, #ddd 100%);background-repeat:no-repeat;background-size:cover}@keyframes ContentsPlaceholder_moveBgPosition__2OQby{0%{background-position:-1000px 0}100%{background-position:1000px 0}}

.EachImage_imageContainer__2SALi {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.EachImage_image__2KQ9D {
  background-attachment: scroll;
  background-clip: border-box;
  background-origin: border-box;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.HeroSlick_rootContainer__dhD0- {
  height: 100vh;
  position: relative;
  width: 100%;
}

.AoiyaHumberger_container__2plY5 {
  cursor: pointer;
  display: block;
  height: 30px;
  padding: 1px 0; /* to prevent margin collapsing */
  width: 50px;
}

.AoiyaHumberger_bar__3sP3h {
  display: block;
  height: 2px;
  margin-top: 6px;
  width: 50px;
}

@keyframes AoiyaHumberger_AnimBar01Deactivate__k05HT {
  0% {
    /* 8px = margin 6px + bar height 2px */
    transform: translateY(8px) rotate(30deg);
  }
  50% {
    transform: translateY(8px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes AoiyaHumberger_AnimBar01Activate__tuUsE {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(8px) rotate(0);
  }
  100% {
    transform: translateY(8px) rotate(30deg);
  }
}

@keyframes AoiyaHumberger_AnimBar03Deactivate__2MxZe {
  0% {
    transform: translateY(-8px) rotate(-30deg);
  }
  50% {
    transform: translateY(-8px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes AoiyaHumberger_AnimBar03Activate__1d_LG {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-8px) rotate(0);
  }
  100% {
    transform: translateY(-8px) rotate(-30deg);
  }
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.Humberger_hamburger__2Acwe {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.Humberger_hamburger__2Acwe:hover {
  opacity: 0.7;
}
.Humberger_hamburger__2Acwe.Humberger_is-active__3vaK7:hover {
  opacity: 0.7;
}
.Humberger_hamburger__2Acwe.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA,
.Humberger_hamburger__2Acwe.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before,
.Humberger_hamburger__2Acwe.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  background-color: blue;
}

.Humberger_hamburger-box__O4zII {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.Humberger_hamburger-inner__2TBvA {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.Humberger_hamburger-inner__2TBvA,
.Humberger_hamburger-inner__2TBvA::before,
.Humberger_hamburger-inner__2TBvA::after {
  width: 40px;
  height: 4px;
  background-color: red;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.Humberger_hamburger-inner__2TBvA::before,
.Humberger_hamburger-inner__2TBvA::after {
  content: '';
  display: block;
}
.Humberger_hamburger-inner__2TBvA::before {
  top: -10px;
}
.Humberger_hamburger-inner__2TBvA::after {
  bottom: -10px;
}

/*
   * 3DX
   */
.Humberger_hamburger--3dx__1S1ns .Humberger_hamburger-box__O4zII {
  perspective: 80px;
}

.Humberger_hamburger--3dx__1S1ns .Humberger_hamburger-inner__2TBvA {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.Humberger_hamburger--3dx__1S1ns .Humberger_hamburger-inner__2TBvA::before,
.Humberger_hamburger--3dx__1S1ns .Humberger_hamburger-inner__2TBvA::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.Humberger_hamburger--3dx__1S1ns.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA {
  background-color: transparent !important;
  transform: rotateY(180deg);
}
.Humberger_hamburger--3dx__1S1ns.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.Humberger_hamburger--3dx__1S1ns.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
   * 3DX Reverse
   */
.Humberger_hamburger--3dx-r__32m2P .Humberger_hamburger-box__O4zII {
  perspective: 80px;
}

.Humberger_hamburger--3dx-r__32m2P .Humberger_hamburger-inner__2TBvA {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.Humberger_hamburger--3dx-r__32m2P .Humberger_hamburger-inner__2TBvA::before,
.Humberger_hamburger--3dx-r__32m2P .Humberger_hamburger-inner__2TBvA::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.Humberger_hamburger--3dx-r__32m2P.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA {
  background-color: transparent !important;
  transform: rotateY(-180deg);
}
.Humberger_hamburger--3dx-r__32m2P.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.Humberger_hamburger--3dx-r__32m2P.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
   * 3DY
   */
.Humberger_hamburger--3dy__346hE .Humberger_hamburger-box__O4zII {
  perspective: 80px;
}

.Humberger_hamburger--3dy__346hE .Humberger_hamburger-inner__2TBvA {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.Humberger_hamburger--3dy__346hE .Humberger_hamburger-inner__2TBvA::before,
.Humberger_hamburger--3dy__346hE .Humberger_hamburger-inner__2TBvA::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.Humberger_hamburger--3dy__346hE.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA {
  background-color: transparent !important;
  transform: rotateX(-180deg);
}
.Humberger_hamburger--3dy__346hE.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.Humberger_hamburger--3dy__346hE.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
   * 3DY Reverse
   */
.Humberger_hamburger--3dy-r__1EiXb .Humberger_hamburger-box__O4zII {
  perspective: 80px;
}

.Humberger_hamburger--3dy-r__1EiXb .Humberger_hamburger-inner__2TBvA {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.Humberger_hamburger--3dy-r__1EiXb .Humberger_hamburger-inner__2TBvA::before,
.Humberger_hamburger--3dy-r__1EiXb .Humberger_hamburger-inner__2TBvA::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.Humberger_hamburger--3dy-r__1EiXb.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA {
  background-color: transparent !important;
  transform: rotateX(180deg);
}
.Humberger_hamburger--3dy-r__1EiXb.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.Humberger_hamburger--3dy-r__1EiXb.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
   * 3DXY
   */
.Humberger_hamburger--3dxy__2lxBX .Humberger_hamburger-box__O4zII {
  perspective: 80px;
}

.Humberger_hamburger--3dxy__2lxBX .Humberger_hamburger-inner__2TBvA {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.Humberger_hamburger--3dxy__2lxBX .Humberger_hamburger-inner__2TBvA::before,
.Humberger_hamburger--3dxy__2lxBX .Humberger_hamburger-inner__2TBvA::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.Humberger_hamburger--3dxy__2lxBX.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA {
  background-color: transparent !important;
  transform: rotateX(180deg) rotateY(180deg);
}
.Humberger_hamburger--3dxy__2lxBX.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.Humberger_hamburger--3dxy__2lxBX.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
   * 3DXY Reverse
   */
.Humberger_hamburger--3dxy-r__2BnM6 .Humberger_hamburger-box__O4zII {
  perspective: 80px;
}

.Humberger_hamburger--3dxy-r__2BnM6 .Humberger_hamburger-inner__2TBvA {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.Humberger_hamburger--3dxy-r__2BnM6 .Humberger_hamburger-inner__2TBvA::before,
.Humberger_hamburger--3dxy-r__2BnM6 .Humberger_hamburger-inner__2TBvA::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.Humberger_hamburger--3dxy-r__2BnM6.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA {
  background-color: transparent !important;
  transform: rotateX(180deg) rotateY(180deg) rotateZ(-180deg);
}
.Humberger_hamburger--3dxy-r__2BnM6.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.Humberger_hamburger--3dxy-r__2BnM6.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
   * Arrow
   */
.Humberger_hamburger--arrow__3nIv5.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

.Humberger_hamburger--arrow__3nIv5.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

/*
   * Arrow Right
   */
.Humberger_hamburger--arrow-r__HyYmE.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

.Humberger_hamburger--arrow-r__HyYmE.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

/*
   * Arrow Alt
   */
.Humberger_hamburger--arrowalt__357-U .Humberger_hamburger-inner__2TBvA::before {
  transition: top 0.1s 0.1s ease,
    transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.Humberger_hamburger--arrowalt__357-U .Humberger_hamburger-inner__2TBvA::after {
  transition: bottom 0.1s 0.1s ease,
    transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.Humberger_hamburger--arrowalt__357-U.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before {
  top: 0;
  transform: translate3d(-8px, -10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: top 0.1s ease,
    transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.Humberger_hamburger--arrowalt__357-U.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  bottom: 0;
  transform: translate3d(-8px, 10px, 0) rotate(45deg) scale(0.7, 1);
  transition: bottom 0.1s ease,
    transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

/*
   * Arrow Alt Right
   */
.Humberger_hamburger--arrowalt-r__3jkSx .Humberger_hamburger-inner__2TBvA::before {
  transition: top 0.1s 0.1s ease,
    transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.Humberger_hamburger--arrowalt-r__3jkSx .Humberger_hamburger-inner__2TBvA::after {
  transition: bottom 0.1s 0.1s ease,
    transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.Humberger_hamburger--arrowalt-r__3jkSx.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before {
  top: 0;
  transform: translate3d(8px, -10px, 0) rotate(45deg) scale(0.7, 1);
  transition: top 0.1s ease,
    transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.Humberger_hamburger--arrowalt-r__3jkSx.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  bottom: 0;
  transform: translate3d(8px, 10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: bottom 0.1s ease,
    transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

/*
   * Arrow Turn
   */
.Humberger_hamburger--arrowturn__2V8i9.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA {
  transform: rotate(-180deg);
}
.Humberger_hamburger--arrowturn__2V8i9.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1);
}
.Humberger_hamburger--arrowturn__2V8i9.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

/*
   * Arrow Turn Right
   */
.Humberger_hamburger--arrowturn-r__U5g44.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA {
  transform: rotate(-180deg);
}
.Humberger_hamburger--arrowturn-r__U5g44.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}
.Humberger_hamburger--arrowturn-r__U5g44.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

/*
   * Boring
   */
.Humberger_hamburger--boring__3xbDo .Humberger_hamburger-inner__2TBvA,
.Humberger_hamburger--boring__3xbDo .Humberger_hamburger-inner__2TBvA::before,
.Humberger_hamburger--boring__3xbDo .Humberger_hamburger-inner__2TBvA::after {
  transition-property: none;
}

.Humberger_hamburger--boring__3xbDo.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA {
  transform: rotate(45deg);
}
.Humberger_hamburger--boring__3xbDo.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before {
  top: 0;
  opacity: 0;
}
.Humberger_hamburger--boring__3xbDo.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  bottom: 0;
  transform: rotate(-90deg);
}

/*
   * Collapse
   */
.Humberger_hamburger--collapse__2qfa9 .Humberger_hamburger-inner__2TBvA {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.Humberger_hamburger--collapse__2qfa9 .Humberger_hamburger-inner__2TBvA::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    opacity 0.1s linear;
}
.Humberger_hamburger--collapse__2qfa9 .Humberger_hamburger-inner__2TBvA::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.Humberger_hamburger--collapse__2qfa9.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.Humberger_hamburger--collapse__2qfa9.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    opacity 0.1s 0.22s linear;
}
.Humberger_hamburger--collapse__2qfa9.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Collapse Reverse
   */
.Humberger_hamburger--collapse-r__ONS9W .Humberger_hamburger-inner__2TBvA {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.Humberger_hamburger--collapse-r__ONS9W .Humberger_hamburger-inner__2TBvA::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    opacity 0.1s linear;
}
.Humberger_hamburger--collapse-r__ONS9W .Humberger_hamburger-inner__2TBvA::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.Humberger_hamburger--collapse-r__ONS9W.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA {
  transform: translate3d(0, -10px, 0) rotate(45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.Humberger_hamburger--collapse-r__ONS9W.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    opacity 0.1s 0.22s linear;
}
.Humberger_hamburger--collapse-r__ONS9W.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before {
  top: 0;
  transform: rotate(90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Elastic
   */
.Humberger_hamburger--elastic__w6U1q .Humberger_hamburger-inner__2TBvA {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.Humberger_hamburger--elastic__w6U1q .Humberger_hamburger-inner__2TBvA::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}
.Humberger_hamburger--elastic__w6U1q .Humberger_hamburger-inner__2TBvA::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.Humberger_hamburger--elastic__w6U1q.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}
.Humberger_hamburger--elastic__w6U1q.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before {
  transition-delay: 0s;
  opacity: 0;
}
.Humberger_hamburger--elastic__w6U1q.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

/*
   * Elastic Reverse
   */
.Humberger_hamburger--elastic-r__3JG-_ .Humberger_hamburger-inner__2TBvA {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.Humberger_hamburger--elastic-r__3JG-_ .Humberger_hamburger-inner__2TBvA::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}
.Humberger_hamburger--elastic-r__3JG-_ .Humberger_hamburger-inner__2TBvA::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.Humberger_hamburger--elastic-r__3JG-_.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA {
  transform: translate3d(0, 10px, 0) rotate(-135deg);
  transition-delay: 0.075s;
}
.Humberger_hamburger--elastic-r__3JG-_.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before {
  transition-delay: 0s;
  opacity: 0;
}
.Humberger_hamburger--elastic-r__3JG-_.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  transform: translate3d(0, -20px, 0) rotate(270deg);
  transition-delay: 0.075s;
}

/*
   * Emphatic
   */
.Humberger_hamburger--emphatic__3O2ue {
  overflow: hidden;
}
.Humberger_hamburger--emphatic__3O2ue .Humberger_hamburger-inner__2TBvA {
  transition: background-color 0.125s 0.175s ease-in;
}
.Humberger_hamburger--emphatic__3O2ue .Humberger_hamburger-inner__2TBvA::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335),
    top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}
.Humberger_hamburger--emphatic__3O2ue .Humberger_hamburger-inner__2TBvA::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335),
    top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}
.Humberger_hamburger--emphatic__3O2ue.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent !important;
}
.Humberger_hamburger--emphatic__3O2ue.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before {
  left: -80px;
  top: -80px;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear,
    transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.Humberger_hamburger--emphatic__3O2ue.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  right: -80px;
  top: -80px;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear,
    transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*
   * Emphatic Reverse
   */
.Humberger_hamburger--emphatic-r__3xJQy {
  overflow: hidden;
}
.Humberger_hamburger--emphatic-r__3xJQy .Humberger_hamburger-inner__2TBvA {
  transition: background-color 0.125s 0.175s ease-in;
}
.Humberger_hamburger--emphatic-r__3xJQy .Humberger_hamburger-inner__2TBvA::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335),
    top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}
.Humberger_hamburger--emphatic-r__3xJQy .Humberger_hamburger-inner__2TBvA::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335),
    top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}
.Humberger_hamburger--emphatic-r__3xJQy.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent !important;
}
.Humberger_hamburger--emphatic-r__3xJQy.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before {
  left: -80px;
  top: 80px;
  transform: translate3d(80px, -80px, 0) rotate(-45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear,
    transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.Humberger_hamburger--emphatic-r__3xJQy.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  right: -80px;
  top: 80px;
  transform: translate3d(-80px, -80px, 0) rotate(45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear,
    transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*
   * Minus
   */
.Humberger_hamburger--minus__3a8pH .Humberger_hamburger-inner__2TBvA::before,
.Humberger_hamburger--minus__3a8pH .Humberger_hamburger-inner__2TBvA::after {
  transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear;
}

.Humberger_hamburger--minus__3a8pH.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before,
.Humberger_hamburger--minus__3a8pH.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  opacity: 0;
  transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear;
}

.Humberger_hamburger--minus__3a8pH.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before {
  top: 0;
}

.Humberger_hamburger--minus__3a8pH.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  bottom: 0;
}

/*
   * Slider
   */
.Humberger_hamburger--slider__HOqZA .Humberger_hamburger-inner__2TBvA {
  top: 2px;
}
.Humberger_hamburger--slider__HOqZA .Humberger_hamburger-inner__2TBvA::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}
.Humberger_hamburger--slider__HOqZA .Humberger_hamburger-inner__2TBvA::after {
  top: 20px;
}

.Humberger_hamburger--slider__HOqZA.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.Humberger_hamburger--slider__HOqZA.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}
.Humberger_hamburger--slider__HOqZA.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}

/*
   * Slider Reverse
   */
.Humberger_hamburger--slider-r__3-wxD .Humberger_hamburger-inner__2TBvA {
  top: 2px;
}
.Humberger_hamburger--slider-r__3-wxD .Humberger_hamburger-inner__2TBvA::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}
.Humberger_hamburger--slider-r__3-wxD .Humberger_hamburger-inner__2TBvA::after {
  top: 20px;
}

.Humberger_hamburger--slider-r__3-wxD.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA {
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}
.Humberger_hamburger--slider-r__3-wxD.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before {
  transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
  opacity: 0;
}
.Humberger_hamburger--slider-r__3-wxD.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  transform: translate3d(0, -20px, 0) rotate(90deg);
}

/*
   * Spin
   */
.Humberger_hamburger--spin__1Ovsh .Humberger_hamburger-inner__2TBvA {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.Humberger_hamburger--spin__1Ovsh .Humberger_hamburger-inner__2TBvA::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.Humberger_hamburger--spin__1Ovsh .Humberger_hamburger-inner__2TBvA::after {
  transition: bottom 0.1s 0.25s ease-in,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.Humberger_hamburger--spin__1Ovsh.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.Humberger_hamburger--spin__1Ovsh.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.Humberger_hamburger--spin__1Ovsh.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out,
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Spin Reverse
   */
.Humberger_hamburger--spin-r__3Z_7L .Humberger_hamburger-inner__2TBvA {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.Humberger_hamburger--spin-r__3Z_7L .Humberger_hamburger-inner__2TBvA::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.Humberger_hamburger--spin-r__3Z_7L .Humberger_hamburger-inner__2TBvA::after {
  transition: bottom 0.1s 0.25s ease-in,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.Humberger_hamburger--spin-r__3Z_7L.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA {
  transform: rotate(-225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.Humberger_hamburger--spin-r__3Z_7L.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.Humberger_hamburger--spin-r__3Z_7L.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  bottom: 0;
  transform: rotate(90deg);
  transition: bottom 0.1s ease-out,
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Spring
   */
.Humberger_hamburger--spring__34z_R .Humberger_hamburger-inner__2TBvA {
  top: 2px;
  transition: background-color 0s 0.13s linear;
}
.Humberger_hamburger--spring__34z_R .Humberger_hamburger-inner__2TBvA::before {
  top: 10px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.Humberger_hamburger--spring__34z_R .Humberger_hamburger-inner__2TBvA::after {
  top: 20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.Humberger_hamburger--spring__34z_R.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA {
  transition-delay: 0.22s;
  background-color: transparent !important;
}
.Humberger_hamburger--spring__34z_R.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.Humberger_hamburger--spring__34z_R.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}

/*
   * Spring Reverse
   */
.Humberger_hamburger--spring-r__2xB2X .Humberger_hamburger-inner__2TBvA {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.Humberger_hamburger--spring-r__2xB2X .Humberger_hamburger-inner__2TBvA::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    opacity 0s linear;
}
.Humberger_hamburger--spring-r__2xB2X .Humberger_hamburger-inner__2TBvA::before {
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.Humberger_hamburger--spring-r__2xB2X.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.Humberger_hamburger--spring-r__2xB2X.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    opacity 0s 0.22s linear;
}
.Humberger_hamburger--spring-r__2xB2X.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before {
  top: 0;
  transform: rotate(90deg);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Stand
   */
.Humberger_hamburger--stand__2dATb .Humberger_hamburger-inner__2TBvA {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19),
    background-color 0s 0.075s linear;
}
.Humberger_hamburger--stand__2dATb .Humberger_hamburger-inner__2TBvA::before {
  transition: top 0.075s 0.075s ease-in,
    transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.Humberger_hamburger--stand__2dATb .Humberger_hamburger-inner__2TBvA::after {
  transition: bottom 0.075s 0.075s ease-in,
    transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.Humberger_hamburger--stand__2dATb.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA {
  transform: rotate(90deg);
  background-color: transparent !important;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1),
    background-color 0s 0.15s linear;
}
.Humberger_hamburger--stand__2dATb.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before {
  top: 0;
  transform: rotate(-45deg);
  transition: top 0.075s 0.1s ease-out,
    transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.Humberger_hamburger--stand__2dATb.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  bottom: 0;
  transform: rotate(45deg);
  transition: bottom 0.075s 0.1s ease-out,
    transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Stand Reverse
   */
.Humberger_hamburger--stand-r__1Nr4B .Humberger_hamburger-inner__2TBvA {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19),
    background-color 0s 0.075s linear;
}
.Humberger_hamburger--stand-r__1Nr4B .Humberger_hamburger-inner__2TBvA::before {
  transition: top 0.075s 0.075s ease-in,
    transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.Humberger_hamburger--stand-r__1Nr4B .Humberger_hamburger-inner__2TBvA::after {
  transition: bottom 0.075s 0.075s ease-in,
    transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.Humberger_hamburger--stand-r__1Nr4B.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA {
  transform: rotate(-90deg);
  background-color: transparent !important;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1),
    background-color 0s 0.15s linear;
}
.Humberger_hamburger--stand-r__1Nr4B.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before {
  top: 0;
  transform: rotate(-45deg);
  transition: top 0.075s 0.1s ease-out,
    transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.Humberger_hamburger--stand-r__1Nr4B.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  bottom: 0;
  transform: rotate(45deg);
  transition: bottom 0.075s 0.1s ease-out,
    transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Squeeze
   */
.Humberger_hamburger--squeeze__2ig4H .Humberger_hamburger-inner__2TBvA {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.Humberger_hamburger--squeeze__2ig4H .Humberger_hamburger-inner__2TBvA::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.Humberger_hamburger--squeeze__2ig4H .Humberger_hamburger-inner__2TBvA::after {
  transition: bottom 0.075s 0.12s ease,
    transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.Humberger_hamburger--squeeze__2ig4H.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.Humberger_hamburger--squeeze__2ig4H.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.Humberger_hamburger--squeeze__2ig4H.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease,
    transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Vortex
   */
.Humberger_hamburger--vortex__1-YkT .Humberger_hamburger-inner__2TBvA {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.Humberger_hamburger--vortex__1-YkT .Humberger_hamburger-inner__2TBvA::before,
.Humberger_hamburger--vortex__1-YkT .Humberger_hamburger-inner__2TBvA::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}
.Humberger_hamburger--vortex__1-YkT .Humberger_hamburger-inner__2TBvA::before {
  transition-property: top, opacity;
}
.Humberger_hamburger--vortex__1-YkT .Humberger_hamburger-inner__2TBvA::after {
  transition-property: bottom, transform;
}

.Humberger_hamburger--vortex__1-YkT.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.Humberger_hamburger--vortex__1-YkT.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before,
.Humberger_hamburger--vortex__1-YkT.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  transition-delay: 0s;
}
.Humberger_hamburger--vortex__1-YkT.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before {
  top: 0;
  opacity: 0;
}
.Humberger_hamburger--vortex__1-YkT.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  bottom: 0;
  transform: rotate(90deg);
}

/*
   * Vortex Reverse
   */
.Humberger_hamburger--vortex-r__vub1A .Humberger_hamburger-inner__2TBvA {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.Humberger_hamburger--vortex-r__vub1A .Humberger_hamburger-inner__2TBvA::before,
.Humberger_hamburger--vortex-r__vub1A .Humberger_hamburger-inner__2TBvA::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}
.Humberger_hamburger--vortex-r__vub1A .Humberger_hamburger-inner__2TBvA::before {
  transition-property: top, opacity;
}
.Humberger_hamburger--vortex-r__vub1A .Humberger_hamburger-inner__2TBvA::after {
  transition-property: bottom, transform;
}

.Humberger_hamburger--vortex-r__vub1A.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA {
  transform: rotate(-765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.Humberger_hamburger--vortex-r__vub1A.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before,
.Humberger_hamburger--vortex-r__vub1A.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  transition-delay: 0s;
}
.Humberger_hamburger--vortex-r__vub1A.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::before {
  top: 0;
  opacity: 0;
}
.Humberger_hamburger--vortex-r__vub1A.Humberger_is-active__3vaK7 .Humberger_hamburger-inner__2TBvA::after {
  bottom: 0;
  transform: rotate(-90deg);
}

.Riser_rootContainer__3vXuQ {
  overflow: hidden;
}

.RollerShutter_rootContainer__20b55 {
  position: fixed;
  background: #111;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}


/*# sourceMappingURL=main.89b30150.chunk.css.map*/